$circle:(
   fr1:$color-redish,
   fr2:$color-primary,
   fr3:$color-green
);


$images:(
   img1:url("../assets/Macbook.png"),
   img2:url("../assets/iPhone.png"),
   img3:url("../assets/Trumpet.png")
)